<main id='main'>
  <meta name="circuit" 
  data-page='<%-JSON.stringify(page)%>' 
  data-output='<%-JSON.stringify(section.Output)%>' 
  data-simulation='<%-JSON.stringify(section.Simulation)%>' 
  data-multimeter='<%-JSON.stringify(section.Multimeter[0])%>' 
  data-simulationparams='<%-JSON.stringify(section.SimulationParams)%>' 
  data-subcircuit='<%=section.Subcircuit%>'
  data-models='<%-JSON.stringify(section.Models)%>'
  data-components='<%-JSON.stringify(section.Components)%>'
  data-bench='<%-JSON.stringify(section.Bench)%>'
  data-alt='<%-JSON.stringify(part.Alts)%>'
  data-mapping='<%-JSON.stringify(part.Mapping)%>'
  data-nodes='<%-JSON.stringify(part.Nodes)%>'
  data-framework='true'
  data-solution='<%=section.Solution%>'>
<%
if(Framework){%><%-Framework%><%}%>
  <ground style="position:absolute;left:0px;top: 200px;">
    <div class='InterPortSpace'></div>
    <port data-bind-position='{"top":-3,"left":20}' data-spice-node="0" style="display: none;"></port>
    </ground>
<%if(section) if(section.hasOwnProperty("Components")) for(var c of section.Components)
if(c.hasOwnProperty('CSS') && c.hasOwnProperty('Height') && c.hasOwnProperty('Width') && c.hasOwnProperty('Label') && c.hasOwnProperty('Value')){%>
<component data-spice-directional="<%=c.Directional%>" data-spice-fungible="<%=c.fungible%>" data-spice-name="<%=c.Name%>" data-spice-class="<%=c.Class%>" data-spice-type="<%=c.Type%>" data-spice-value="<%=c.Value%>" style="<%=c.CSS%>;z-index:1;top:<%=top%>px;left:<%=left%>px;" <%if(c.Type == 'VariableResistor'){%>ondblclick="UI.VariableResistorChange(this);"<%}%> class="rotated-0">
<% if(c.Value && c.Name){ %>
<label style="position:relative;left:<%=c.Label.left%>px;top:<%= c.Label.top %>px;"><%= c.Value %>(<%=c.Name%>)</label>
<%}else if(c.Value){ %>
<label style="position:relative;left:<%=c.Label.left%>px;top:<%= c.Label.top %>px;"><%= c.Value %></label>
<%}else if(c.Class){ %>
<label style="position:relative;left:<%=c.Label.left%>px;top:<%= c.Label.top %>px;"><%= c.Class %></label>
<%}%>
<% if(c.hasOwnProperty('InterPortSpace')) for(var n of c.InterPortSpace)
 if(n.hasOwnProperty("top") && n.hasOwnProperty("left") && n.hasOwnProperty("width") && n.hasOwnProperty("height")){ %>
<div class='InterPortSpace' style='position:absolute;top:<%=n.top%>px;left:<%=n.left%>px;height:<%=n.height%>px;width:<%=n.width%>px;'></div>
<%}%>
<% for(var p of c.Ports){%>
<port name="<%=p.id%>" 
  <%if(p.hasOwnProperty('bindPosition')){%>data-bind-position='<%-JSON.stringify(p.bindPosition)%>'<%}%> 
  data-spice-node='999' 
  <%if(p.hasOwnProperty('altnodes')){%>data-spice-target-nodes='<%-JSON.stringify(p.altnodes)%>'<%}%> 
  data-spice-position="<%=p.position%>" 
  style='top:<%=p.top%>px;left:<%=p.left%>px;height:<%=p.height%>px;width:<%=p.width%>px;<%if(p.hasOwnProperty('CSS')){%><%=p.CSS%><%}else{%>position:absolute;background:red;<%}%>'>
  <% if(p.hasOwnProperty('labelPosition')) if(p.labelPosition) if(p.labelPosition.hasOwnProperty('top') && p.labelPosition.hasOwnProperty('left')){%>
    <label style='position:relative;left:<%=p.labelPosition.left;%>px;top:<%=p.labelPosition.top;%>px'>
      <%=p.id%>
    </label>
    <%}%></port>
<%}%>
</component>
<%left = left + c.Width;%>
<%if (left>800){
left = 50;
top = top+200;
}%>
<%}%>
<%}%>
</main>
<connectors>
<port data-spice-node="999" style='position: absolute;top:650px;left:75px;background: red;height:300px;width:6px;z-index:0;' name="powersupply-1-positive" data-spice-bench="PowerSupply 1" <%if(section.Bench.powersupply[0].hasOwnProperty('altnodes')) if(section.Bench.powersupply[0].altnodes.hasOwnProperty('positive')){%>data-spice-target-nodes='<%-JSON.stringify(section.Bench.powersupply[0].altnodes.positive)%>'<%}%> >
  <label style="position: relative;left:10px;">Power Supply 1+</label>
</port>
<port data-spice-node="999" style='position: absolute;top:650px;left:175px;background: black;height:300px;width:6px;z-index:0;' name="powersupply-1-negative"  data-spice-bench="PowerSupply 1" <%if(section.Bench.powersupply[0].hasOwnProperty('altnodes')) if(section.Bench.powersupply[0].altnodes.hasOwnProperty('negative')){%>data-spice-target-nodes='<%-JSON.stringify(section.Bench.powersupply[0].altnodes.negative)%>'<%}%>>
  <label  style="position: relative;left:10px;">Power Supply 1-</label>
</port>
<port data-spice-node="999" style='position: absolute;top:650px;left:275px;background: red;height: 300px;width:6px;z-index:0;' name="powersupply-2-positive"  data-spice-bench="PowerSupply 2" <%if(section.Bench.powersupply[0].hasOwnProperty('altnodes')) if(section.Bench.powersupply[1].altnodes.hasOwnProperty('positive')){%>data-spice-target-nodes='<%-JSON.stringify(section.Bench.powersupply[1].altnodes.positive)%>'<%}%>>
  <label  style="position: relative;left:10px;">Power Supply 2+</label>
</port>
<port data-spice-node="999" style='position: absolute;top:650px;left:375px;background: black;height:300px;width:6px;z-index:0;' name="powersupply-2-negative" data-spice-bench="PowerSupply 2" <%if(section.Bench.powersupply[0].hasOwnProperty('altnodes')) if(section.Bench.powersupply[1].altnodes.hasOwnProperty('negative')){%>data-spice-target-nodes='<%-JSON.stringify(section.Bench.powersupply[1].altnodes.negative)%>'<%}%>>
  <label  style="position: relative;left:10px;">Power Supply 2-</label>
</port>
<port data-spice-node="999" style='position: absolute;top:650px;left:600px;background: red;height:300px;width:6px;z-index:0;' name="signalgenerator-positive" data-spice-bench="Signal Generator" <%if(section.Bench.signalgenerator.hasOwnProperty('altnodes')) if(section.Bench.signalgenerator.altnodes.hasOwnProperty('positive')){%>data-spice-target-nodes='<%-JSON.stringify(section.Bench.signalgenerator.altnodes.positive)%>'<%}%>>
  <label  style="position: relative;left:10px;">Signal Generator V+</label>
</port>
<port data-spice-node="999" style='position: absolute;top:650px;left:700px;background: black;height:300px;width:6px;z-index:0;' name="signalgenerator-negative" data-spice-bench="Signal Generator" <%if(section.Bench.signalgenerator.hasOwnProperty('altnodes')) if(section.Bench.signalgenerator.altnodes.hasOwnProperty('negative')){%>data-spice-target-nodes='<%-JSON.stringify(section.Bench.signalgenerator.altnodes.negative)%>'<%}%>>
  <label  style="position: relative;left:10px;">Signal Generator V-</label>
</port>
<port data-spice-node="999" style='position: absolute;top:650px;left:1000px;background: red;height:300px;width:6px;z-index:0;' name="oscilloscope-1-positive">
  <label  style="position: relative;left:10px;">Scope V+</label>
</port>
<port data-spice-node="999" style='position: absolute;top:650px;left: 1060px;background: black;height:300px;width:6px;z-index:0;' name="oscilloscope-1-negative">
  <label  style="position: relative;left:10px;">Scope V-</label>
</port>
<port data-spice-node="999" style='position: absolute;top:650px;left:1120px;background: red;height:300px;width:6px;z-index:0;' name="oscilloscope-2-positive">
  <label  style="position: relative;left:10px;">Scope V+</label>
</port>
<port data-spice-node="999" style='position: absolute;top:650px;left:1180px;background: black;height:300px;width:6px;z-index:10;' name="oscilloscope-2-negative">
  <label  style="position: relative;left:10px;">Scope V-</label>
</port>
<div style="position: absolute;height:200px;width:0px;border-left:2px dashed #777;left:500px;top:700px;"></div>
<div style="position: absolute;height:0px;width:100%;border-top:2px dashed #777;left:0px;top:700px;"></div>
<div style="position: absolute;height: 200px;width:0px;border-left:2px dashed #777;left:900px;top:700px;"></div>
</connectors>