<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <meta name="circuit" 
    data-page='<%-JSON.stringify(page)%>' 
    data-output='<%-JSON.stringify(section.Output)%>' 
    data-simulation='<%-JSON.stringify(section.Simulation)%>' 
    data-multimeter='<%-JSON.stringify(section.Multimeter[0])%>' 
    data-simulationparams='<%-JSON.stringify(section.SimulationParams)%>' 
    data-subcircuit='<%=section.Subcircuit%>'
    data-models='<%-JSON.stringify(section.Models)%>'
    data-components='<%-JSON.stringify(section.Components)%>'
    data-bench='<%-JSON.stringify(section.Bench)%>'
    data-alt='<%-JSON.stringify(part.Alts)%>'
    data-framework='true'
    data-solution='<%=section.Solution%>'>
    <title>ELI - UNSW ELEC2133</title>
    <link rel="stylesheet" href="../../node_modules/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="../../node_modules/bulma-extensions/dist/css/bulma-extensions.min.css">
    <script src="../../node_modules/bulma-extensions/dist/js/bulma-extensions.min.js"></script>
    <link rel="stylesheet" href="../../node_modules/@creativebulma/bulma-tooltip/dist/bulma-tooltip.min.css">
    <script src="../public/javascripts/math.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
        <style>
          body{
            background-size: 20px 20px;
            background-image:
            linear-gradient(to right, #ddd 1px, transparent 1px),
            linear-gradient(to bottom, #ddd 1px, transparent 1px);
            width: 1400px;
            height: 1080px;
            min-height: 800px;
            min-width: 1200px;
            overflow-y: hidden!important;
            max-width: 1400px;
            max-height: 1080px;
          }
        board{
      position: absolute;
      top: 0px;
      padding-top:100px;
    }
    .disabled-icon{
      opacity: 0.5!important;
      cursor: disabled!important;
    }
      #Simulation .modal-card,#Instructions .modal-card{
        width:900px;
      }    
          .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
          }
    
          @media (min-width: 768px) {
            .bd-placeholder-img-lg {
              font-size: 3.5rem;
            }
          }
          .draggable{
            cursor: move;
          }
          .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
          }
    
          @media (min-width: 768px) {
            .bd-placeholder-img-lg {
              font-size: 3.5rem;
            }
          }
    .rotated-0 {
      transform: rotate(0deg);
      -ms-transform: rotate(0deg); /* IE 9 */
      -moz-transform: rotate(0deg); /* Firefox */
      -webkit-transform: rotate(0deg); /* Safari and Chrome */
      -o-transform: rotate(0deg); /* Opera */
    }
    .rotated-90 {
      transform: rotate(90deg);
      -ms-transform: rotate(90deg); /* IE 9 */
      -moz-transform: rotate(90deg); /* Firefox */
      -webkit-transform: rotate(90deg); /* Safari and Chrome */
      -o-transform: rotate(90deg); /* Opera */
    }
    .rotated-180 {
      transform: rotate(180deg);
      -ms-transform: rotate(180deg); /* IE 9 */
      -moz-transform: rotate(180deg); /* Firefox */
      -webkit-transform: rotate(180deg); /* Safari and Chrome */
      -o-transform: rotate(180deg); /* Opera */
    }
    .rotated-270 {
      transform: rotate(270deg);
      -ms-transform: rotate(270deg); /* IE 9 */
      -moz-transform: rotate(270deg); /* Firefox */
      -webkit-transform: rotate(270deg); /* Safari and Chrome */
      -o-transform: rotate(270deg); /* Opera */
    }
    .mirrorX{
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
    .mirrorY{
      -webkit-transform: scaleY(-1);
      transform: scaleY(-1);
    }
    wire{
      background:#000;
      display: inline-block;
      cursor: pointer;
    }
    .resistor{
      background-image: url(images/res.png);
      background-repeat: no-repeat;
      background-size: 100px 20px;
      width: 100px;
      height:30px;
      display: inline-block;
    }
    .capacitor{
      background-image: url(images/cap.png);
      background-repeat: no-repeat;
      background-size: 100px 50px;
      width: 100px;
      height:50px;
      display: inline-block;
    }
    .inductor{
      background-image: url(images/ind.png);
      background-repeat: no-repeat;
      background-size: 100px 20px;
      width: 100px;
      height:30px;
      display: inline-block;
    }
    .opamp{
      background-image: url(images/opamp.png);
      background-repeat: no-repeat;
      background-size: 100px;
      width: 100px;
      height:100px;
      display: inline-block;
    }
    connector{
      height:10px;
      width:10px;background: black;
      position: relative;
      display:inline-block;
    }
    footer .btn{
      border-radius: 0rem!important;
    }
    ground{
      position:absolute;
      background-size:25px;
      background-image:url(../public/images/ground.svg);
      width:50px;
      height:50px;
      top:100px;
      left:0px;
      z-index: 10;
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: top;
    }
    ground .InterPortSpace{
      width:0px;
      height:0px;
      left:100px;
      top:100px;
      position: absolute;
    }
    footer.main-footer{
      position:fixed;
      bottom:0px;
      height:75px;
      width:100%;
      background:#fff;
      padding:20px;
      z-index:14;
      box-shadow: 0 6px 16px 14px rgb(0 0 0 / 12%), 0 1px 18px 0 rgb(0 0 0 / 12%);
    }
    navbar{
      box-shadow: 0 6px 10px 0 rgb(0 0 0 / 12%), 0 1px 18px 0 rgb(0 0 0 / 12%);
    }
    #SaveLocal table{
      width: 100%;
      border:1px solid #c0c0c0;
      font-weight: bold;
    }
    #SaveLocal table tr{
      cursor: pointer;
    }
    #SaveLocal table tr:hover{
      background-color: #3e8ed0;
      color: #fff;
    }
        </style>

<script src="../public/javascripts/jquery.min.js"></script>
<script src="../public/javascripts/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/underscore@1.13.1/underscore-umd-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/underscore@1.13.1/underscore-esm-min.js"></script>
<script type="text/javascript" src="../public/javascripts/ui.js" defer></script>
<script type="text/javascript" src="../public/javascripts/check.js" defer></script>
<script type="text/javascript" src="../public/javascripts/spice.js" defer></script>
<script type="text/javascript">
  $(document).ready(function(){
  $("component").draggable({ containment: "body" });
  UI.select();
  $(".modal .modal-card-foot button:contains(Close),button[aria-label='close'],div.modal-background").click(function(){
    $(".modal").removeClass("is-active");
  })
  if($("wire[data-spice-node='0']").width() == '6')
    $("ground").offset({top:$("wire[data-spice-node='0']").offset().top+($("wire[data-spice-node='0']").height()-10),left:$("wire[data-spice-node='0']").offset().left-20})  
  else
    $("ground").offset({top:$("wire[data-spice-node='0']").offset().top+$("wire[data-spice-node='0']").height()-10,left:$("wire[data-spice-node='0']").offset().left-20})  
  $(document).on('keyup', function(e) {
    if (e.key == "Escape")    $(".modal").removeClass("is-active");
  });
})

</script>
    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">

<script src="../../node_modules/html2canvas/dist/html2canvas.min.js"></script>

<meta name="theme-color" content="#000000">
<link rel="stylesheet" href="../public/stylesheets/jquery-ui.min.css">
</head>
<body>
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <h1>UNSW ELI</h1>
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item <%if(!page.prev){%>disabled-icon<%}%>" data-action="changelab" <%if(page.prev){%>data-page='<%-JSON.stringify(page.prev)%>'<%}else{%>disabled<%}%>>
          <span class="material-icons">arrow_back</span>
        </a>
        <a class="navbar-item <%if(!page.next){%>disabled-icon<%}%>" data-action="changelab" <%if(page.next){%>data-page='<%-JSON.stringify(page.next)%>'<%}else{%>disabled<%}%>>
          <span class="material-icons">arrow_forward</span>
        </a>
        <a class="navbar-item" onclick="$('#Override').addClass('is-active');">
          <span class="material-icons">
            key
            </span>
          </a>
        <a class="navbar-item" onclick='$("#Instructions").addClass("is-active");'>
        <span class="material-icons">
          info
          </span>
          </a>
          <a class="navbar-item is-active" onclick="UI.clear();if(!$(this).hasClass('is-active')){UI.select();$('.navbar-item').removeClass('is-active');$(this).addClass('is-active');}else{$(this).removeClass('is-active');}">
            <span class="material-icons">
              pan_tool
              </span>
            </a>
            <a class="navbar-item" onclick="UI.clear();if(!$(this).hasClass('is-active')){UI.wire();$('.navbar-item').removeClass('is-active');$(this).addClass('is-active');}else{$(this).removeClass('is-active');}">
              <span class="material-icons">
                edit
                </span>
              </a>
                <a class="navbar-item" onclick="validate();$('#SaveLocal').addClass('is-active');" data-action="getload" data-page='<%-JSON.stringify(page)%>'>
                  <span class="material-icons">
                    save
                    </span>
                  </a>
                  <a class="navbar-item" onclick="validate();$('#SyncGlobal').addClass('is-active');">
                    <span class="material-icons">
                      cloud_sync
                      </span>
                    </a>
                    <a class="navbar-item" onclick="Simulate();">
                      <span class="material-icons">
                        play_circle
                        </span>
                        </a>  
                        <a class="navbar-item" onclick="validate();">
                        <span class="material-icons">
                          check_circle
                          </span>  
                          </a>                        
                          <button class="navbar-item" data-action="implement" data-token="password" disabled style="background-color: #363636;color:#aaa;border: none;">
                      <span class="material-icons">
                        run_circle
                        </span>
                      </button>  
    </div>
  </nav>
<style>
  body{
    overflow: hidden;
  }
  #Notifications{
        position: absolute;
        right: 20px;
        top: 75px;
        max-width: 250px;
        z-index: 99;
        font-size: 12px;
      }
</style>
<%- include ('partial/simport.ejs') %>
</head>
  <body> 
    <div id="Notifications"></div>
    <div id="MultimeterFlags"></div>
<main id='main'>
<%
var preloadset = false;
if(preload) if(preload.board){%>
<%-preload.board%>
<%preloadset = true
}if(!preloadset){
var top = 100;
var left = 50;
if(Framework){%><%-Framework%><%}%>
  <ground style="position:absolute;left:0px;top: 200px;">
    <div class='InterPortSpace'></div>
    <port data-bind-position='{"top":-3,"left":20}' data-spice-target-node="0" data-spice-node="0" style="display: none;"></port>
    </ground>
<%if(section) if(section.hasOwnProperty("Components")) for(var c of section.Components)
if(c.hasOwnProperty('CSS') && c.hasOwnProperty('Height') && c.hasOwnProperty('Width') && c.hasOwnProperty('Label') && c.hasOwnProperty('Value')){%>
<component data-spice-directional="<%=c.Directional%>" data-spice-fungible="<%=c.fungible%>" data-spice-name="<%=c.Name%>" data-spice-class="<%=c.Class%>" data-spice-type="<%=c.Type%>" data-spice-value="<%=c.Value%>" style="<%=c.CSS%>;z-index:10;top:<%=top%>px;left:<%=left%>px;" <%if(c.Type == 'VariableResistor'){%>data-spice-maxvalue="<%=c.Value%>" ondblclick="UI.VariableResistorChange(this);"<%}%> class="rotated-0">
<% if(c.Value && c.Name){ %>
<label style="position:relative;left:<%=c.Label.left%>px;top:<%= c.Label.top %>px;"><%= c.Value %>(<%=c.Name%>)</label>
<%}else if(c.Value){ %>
<label style="position:relative;left:<%=c.Label.left%>px;top:<%= c.Label.top %>px;"><%= c.Value %></label>
<%}else if(c.Class){ %>
<label style="position:relative;left:<%=c.Label.left%>px;top:<%= c.Label.top %>px;"><%= c.Class %></label>
<%}%>
<% if(c.hasOwnProperty('InterPortSpace')) for(var n of c.InterPortSpace)
 if(n.hasOwnProperty("top") && n.hasOwnProperty("left") && n.hasOwnProperty("width") && n.hasOwnProperty("height")){ %>
<div class='InterPortSpace' style='position:absolute;top:<%=n.top%>px;left:<%=n.left%>px;height:<%=n.height%>px;width:<%=n.width%>px;'></div>
<%}%>
<% for(var p of c.Ports){%>
<port name="<%=p.id%>" <%if(p.hasOwnProperty('bindPosition')){%>data-bind-position='<%-JSON.stringify(p.bindPosition)%>'<%}%> data-spice-node='999' <%if(p.hasOwnProperty('altnodes')){%>data-spice-target-alt-node='<%-JSON.stringify(p.altnodes)%>'<%}%> data-spice-target-node="<%=p.node%>" data-spice-position="<%=p.position%>" style='top:<%=p.top%>px;left:<%=p.left%>px;height:<%=p.height%>px;width:<%=p.width%>px;<%if(p.hasOwnProperty('CSS')){%><%=p.CSS%><%}else{%>position:absolute;background:red;<%}%>'><% if(p.hasOwnProperty('labelPosition')) if(p.labelPosition) if(p.labelPosition.hasOwnProperty('top') && p.labelPosition.hasOwnProperty('left')){%><label style='position:relative;left:<%=p.labelPosition.left;%>px;top:<%=p.labelPosition.top;%>px'><%=p.id%></label><%}%></port>
<%}%>
</component>
<%left = left + c.Width;%>
<%if (left>800){
left = 50;
top = top+200;
}%>
<%}%>
<%}%>
</main>
<%- include ('partial/modals.ejs') %>
<connectors>
<port data-spice-node="999" style='position: absolute;top:650px;left:75px;background: red;height:300px;width:6px;z-index:10;' name="powersupply-1-positive" data-spice-bench="PowerSupply 1" data-spice-target-node="<%=section.Bench.powersupply[0].positive%>" <%if(section.Bench.powersupply[0].hasOwnProperty('altnodes')) if(section.Bench.powersupply[0].altnodes.hasOwnProperty('positive')){%>data-spice-target-alt-node='<%-JSON.stringify(section.Bench.powersupply[0].altnodes.positive)%>'<%}%> >
  <label style="position: relative;left:10px;">Power Supply 1+</label>
</port>
<port data-spice-node="999" style='position: absolute;top:650px;left:175px;background: black;height:300px;width:6px;z-index:10;' name="powersupply-1-negative"  data-spice-bench="PowerSupply 1" data-spice-target-node="<%=section.Bench.powersupply[0].negative%>" <%if(section.Bench.powersupply[0].hasOwnProperty('altnodes')) if(section.Bench.powersupply[0].altnodes.hasOwnProperty('negative')){%>data-spice-target-alt-node='<%-JSON.stringify(section.Bench.powersupply[0].altnodes.negative)%>'<%}%>>
  <label  style="position: relative;left:10px;">Power Supply 1-</label>
</port>
<port data-spice-node="999" style='position: absolute;top:650px;left:275px;background: red;height: 300px;width:6px;z-index:10;' name="powersupply-2-positive"  data-spice-bench="PowerSupply 2" data-spice-target-node="<%=section.Bench.powersupply[1].positive%>" <%if(section.Bench.powersupply[0].hasOwnProperty('altnodes')) if(section.Bench.powersupply[1].altnodes.hasOwnProperty('positive')){%>data-spice-target-alt-node='<%-JSON.stringify(section.Bench.powersupply[1].altnodes.positive)%>'<%}%>>
  <label  style="position: relative;left:10px;">Power Supply 2+</label>
</port>
<port data-spice-node="999" style='position: absolute;top:650px;left:375px;background: black;height:300px;width:6px;z-index:10;' name="powersupply-2-negative" data-spice-bench="PowerSupply 2" data-spice-target-node="<%=section.Bench.powersupply[1].negative%>" <%if(section.Bench.powersupply[0].hasOwnProperty('altnodes')) if(section.Bench.powersupply[1].altnodes.hasOwnProperty('negative')){%>data-spice-target-alt-node='<%-JSON.stringify(section.Bench.powersupply[1].altnodes.negative)%>'<%}%>>
  <label  style="position: relative;left:10px;">Power Supply 2-</label>
</port>
<port data-spice-node="999" style='position: absolute;top:650px;left:600px;background: red;height:300px;width:6px;z-index:10;' name="signalgenerator-positive" data-spice-bench="Signal Generator" data-spice-target-node="<%=section.Bench.signalgenerator.positive%>" <%if(section.Bench.signalgenerator.hasOwnProperty('altnodes')) if(section.Bench.signalgenerator.altnodes.hasOwnProperty('positive')){%>data-spice-target-alt-node='<%-JSON.stringify(section.Bench.signalgenerator.altnodes.positive)%>'<%}%>>
  <label  style="position: relative;left:10px;">Signal Generator V+</label>
</port>
<port data-spice-node="999" style='position: absolute;top:650px;left:700px;background: black;height:300px;width:6px;z-index:10;' name="signalgenerator-negative" data-spice-bench="Signal Generator" data-spice-target-node="<%=section.Bench.signalgenerator.negative%>" <%if(section.Bench.signalgenerator.hasOwnProperty('altnodes')) if(section.Bench.signalgenerator.altnodes.hasOwnProperty('negative')){%>data-spice-target-alt-node='<%-JSON.stringify(section.Bench.signalgenerator.altnodes.negative)%>'<%}%>>
  <label  style="position: relative;left:10px;">Signal Generator V-</label>
</port>
<port data-spice-node="999" style='position: absolute;top:650px;left:1000px;background: red;height:300px;width:6px;z-index:10;' name="oscilloscope-1-positive">
  <label  style="position: relative;left:10px;">Scope V+</label>
</port>
<port data-spice-node="999" style='position: absolute;top:650px;left: 1060px;background: black;height:300px;width:6px;z-index:10;' name="oscilloscope-1-negative">
  <label  style="position: relative;left:10px;">Scope V-</label>
</port>
<port data-spice-node="999" style='position: absolute;top:650px;left:1120px;background: red;height:300px;width:6px;z-index:10;' name="oscilloscope-2-positive">
  <label  style="position: relative;left:10px;">Scope V+</label>
</port>
<port data-spice-node="999" style='position: absolute;top:650px;left:1180px;background: black;height:300px;width:6px;z-index:10;' name="oscilloscope-2-negative">
  <label  style="position: relative;left:10px;">Scope V-</label>
</port>
<div style="position: absolute;height:200px;width:0px;border-left:2px dashed #777;left:500px;top:700px;"></div>
<div style="position: absolute;height:0px;width:100%;border-top:2px dashed #777;left:0px;top:700px;"></div>
<div style="position: absolute;height: 200px;width:0px;border-left:2px dashed #777;left:900px;top:700px;"></div>
</connectors>

<footer class="main-footer" data-html2canvas-ignore>
  <div class="container content has-text-centered">
    <div class="columns">
      <powersupply class="column is-4 text-center" id="powersupply">
        <button type="button" class="button is-dark" onclick="$('#Source').addClass('is-active');">Power Supply</button>
      </powersupply>
      <signalgenerator class="column is-4  text-center" id="signalgenerator">
        <button type="button" class="button is-dark" onclick="$('#SignalGenerator').addClass('is-active');">Signal Generator</button>
      </signalgenerator>
      <oscilloscope class="column is-4  text-center" id="oscilloscope">
        <button type="button" class="button is-dark" onclick="$('#Oscilloscope').addClass('is-active');">Oscilloscope</button>
      </oscilloscope>
    </div>
  </div>
</footer>
  </body>
</html>