<% var BASE = "../public/" %>
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>ELI - UNSW ELEC2133</title>
    <link rel="stylesheet" href="../../node_modules/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="../../node_modules/bulma-extensions/dist/css/bulma-extensions.min.css">
    <script src="../../node_modules/bulma-extensions/dist/js/bulma-extensions.min.js"></script>
    <script src="../public/javascripts/math.js"></script>
    <script src="../public/javascripts/jquery.min.js"></script>
<script src="../public/javascripts/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/underscore@1.13.1/underscore-umd-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/underscore@1.13.1/underscore-esm-min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    console.log("testing");
    var settings = JSON.parse(`<%-JSON.stringify(part.Settings)%>`);
    console.log(settings)
    $("input[type='checkbox']").click(function(){
      if($(this).attr("checked"))
        $(this).removeAttr("checked");
      else
        $(this).attr("checked","checked");
    })
  })
  </script>
  </head>
  <body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="#">
          <h1>UNSW ELI</h1>
        </a>
    
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" onclick="$('.graph-area').removeClass('is-hidden');$('.sim-area').addClass('is-hidden');">
            Graph
          </a>
          <a class="navbar-item" onclick="$('.graph-area').addClass('is-hidden');$('.sim-area').removeClass('is-hidden');">
            Simulate
          </a>
      </div>
    </nav>
    <div class="container">
      <br>
      <h1 class="title"><%=part.Name%></h1>
    <div class="columns">
    <div class="column is-2">
    <aside class="menu switches">
      <%if(part.hasOwnProperty('Settings')) if(part.Settings.hasOwnProperty('Outputs')) if(part.Settings.Outputs.length) for(var i=0;i<part.Settings.Outputs.length;i++){ var o = part.Settings.Outputs[i];%>
      <p class="menu-label">
        <%=o.name%>
      </p>
      <ul class="menu-list">
        <li data-output-type="<%=o.type%>">
          <%if(o.type == "digital"){%>
          <div class="field">
          <input id="switchLarge<%=o.name%>" type="checkbox" name="<%=o.name%>" class="switch is-large is-info" value="false">
          <label for="switchLarge<%=o.name%>"></label>
          </div>
          <%}else if(o.type == "analog"){%>

          <%}%>
      </li>
      </ul>
      <%}%>
    </aside>
    </div>
    <div class="column is-10">
      <%if(part.hasOwnProperty('Settings')) if(part.Settings.hasOwnProperty('PaneImage')) if(part.Settings.PaneImage){%>
        <img src="<%=BASE+part.Settings.PaneImage%>">
      <%}%>
    </div>
  </div>
  <br>
  <a href="#" class="button is-fullwidth is-info" data-action="implement">Implement</a>
</div>
  </body>
  </html>