<% var BASE = "../public/" %>
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>ELI - UNSW ELEC2133</title>
    <link rel="stylesheet" href="../../node_modules/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="../../node_modules/bulma-extensions/dist/css/bulma-extensions.min.css">
    <script src="../../node_modules/bulma-extensions/dist/js/bulma-extensions.min.js"></script>
    <script src="../public/javascripts/math.js"></script>
    <script src="../public/javascripts/jquery.min.js"></script>
<script src="../public/javascripts/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/underscore@1.13.1/underscore-umd-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/underscore@1.13.1/underscore-esm-min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    console.log("testing");
    var settings = JSON.parse(`<%-JSON.stringify(part.Settings)%>`);
    console.log(settings)
    $("input[type='checkbox']").click(function(){
      if($(this).attr("checked"))
        $(this).removeAttr("checked");
      else
        $(this).attr("checked","checked");
    })
  })
  </script>
  <style>
          #Notifications{
        position: absolute;
        right: 20px;
        top: 150px;
        max-width: 250px;
        z-index: 99;
        font-size: 12px;
      }
  </style>
  </head>
  <body>
    <div id="Notifications"></div>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="#">
          <h1>UNSW ELI</h1>
        </a>
    
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
    </nav>
    <div class="container">
      <br>
      <h1 class="title"><%=part.Name%></h1>
    <div class="columns">
    <div class="column is-2">
    <aside class="menu switches">
      <%if(part.hasOwnProperty('Settings')) if(part.Settings.hasOwnProperty('Output')) if(part.Settings.Output){%>
        <%if(part.Settings.Output.hasOwnProperty('Analog')) if(part.Settings.Output.Analog) for(var i=0;i<part.Settings.Output.Analog.length;i++) if(part.Settings.Output.Analog[i]){var o = part.Settings.Output.Analog[i];%>
          <p class="menu-label">
            Analog Input <%=o%>
          </p>
          <ul class="menu-list">
            <li>
              <div class="field">
              <input id="input<%=o%>" type="text" name="i<%=o%>" class="input is-large" value="" data-output-type="analog">
              <label for="input<%=o%>"></label>
              </div>
          </li>
          </ul>
        <%}%>
        <%if(part.Settings.Output.hasOwnProperty('Digital')) if(part.Settings.Output.Digital) for(var i=0;i<part.Settings.Output.Digital.length;i++) for(var j=0;j<part.Settings.Output.Digital[i].length;j++) if(part.Settings.Output.Digital[i][j]){ var o = part.Settings.Output.Digital[i][j];%>
      <p class="menu-label">
        <%=o%>
      </p>
      <ul class="menu-list">
        <li>
          <div class="field">
          <input id="switch<%=o%>" type="checkbox" name="s<%=o%>" class="switch is-large is-info" value="false" data-output-type="digital">
          <label for="switch<%=o%>"></label>
          </div>
      </li>
      </ul>
      <%}%>
      <%}%>
    </aside>
    </div>
    <div class="column is-10">
      <%if(part.hasOwnProperty('Settings')) if(part.Settings.hasOwnProperty('PaneImage')) if(part.Settings.PaneImage){%>
        <img src="<%=BASE+part.Settings.PaneImage%>">
      <%}%>
    </div>
  </div>
  <br>
  <a href="#" class="button is-fullwidth is-info" data-action="implement">Implement</a>
</div>
  </body>
  </html>