<% var BASE = "../public/" %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello World!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
    <style>
      .card{
        max-width: 400px;
      }
      .button{
        margin:20px;
      }
      #Notifications{
        position: absolute;
        right: 20px;
        top: 150px;
        max-width: 250px;
        z-index: 99;
        font-size: 12px;
      }
    </style>
  </head>
  <body>
    <div id="Notifications">

    </div>
    <div class="tabs is-centered">
  <ul>
    <%if (labs) if(labs.length) for(var ln=0;ln<labs.length;ln++){ var l = labs[ln]; %>
      <li <%if (ln == 0){ %>class="is-active"<%}%> id="LabLink<%=ln%>"><a href="#" onclick='$("section.lab-actions").addClass("is-hidden");$("section.lab").addClass("is-hidden");$("#Lab<%=ln%>").removeClass("is-hidden");$("div.tabs li").removeClass("is-active");$("#LabLink<%=ln%>").addClass("is-active");'><%= l.Name %></a></li>
    <% } %>
  </ul>
  </div>
  <div class="container">
    <%if (labs) if(labs.length) for(var ln=0;ln<labs.length;ln++){ var l = labs[ln]; %>
    <% if(l.hasOwnProperty('Parts')) for(var pn=0;pn<l.Parts.length;pn++){ var p=l.Parts[pn] %>
    <section class="section is-hidden lab-actions" id="Action<%=pn%>" data-lab="<%=l.Name%>"  data-part="<%=p.Name%>">
      <div class="columns">
        <div class="column is-3">
          <% if(p.Sections) if(p.Sections.length) if(p.Sections[0].hasOwnProperty('Name')){ %>
            <a href="#" data-lab="<%=l.Name%>"  data-part="<%=p.Name%>" data-section="<%=p.Sections[0].Name%>" class="button is-info is-large" data-action="open-lab">Open Lab</a><br>
            <div class="column is-3">
              <a href="#" data-lab="<%=l.Name%>"  data-part="<%=p.Name%>" data-section="<%=p.Sections[0].Name%>" class="button is-info is-large" data-action="open-pane">Direct</a><br>
            </div>
          <%}else{%>
            <a href="#" data-lab="<%=l.Name%>"  data-part="<%=p.Name%>" class="button is-info is-large open-lab" disabled>Lab Unavailable</a><br>
          <%}%>
        </div>
      </div>
      <hr>
      <h1 class="title">Lab Questions</h1><hr>
    </section>
    <% }} %>
  <%if (labs) if(labs.length) for(var ln=0;ln<labs.length;ln++){ var l = labs[ln]; %>
    <section class="section lab <%if(ln>0){%>is-hidden<%}%>" id="Lab<%=ln%>" name="<%= l.Name %>">
    <% if(l.hasOwnProperty('Parts')) for(var pn=0;pn<l.Parts.length;pn++){ var p=l.Parts[pn] %>
        <%if (pn%3==0){%><div class="columns"><%}%>
          <div class="column is-4">
        <div class="card" id="Part<%=pn%>">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="<%=BASE+p.Settings.HeaderImage%>" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"><%= p.Name %></p>
              </div>
            </div>
        
            <div class="content">
              <%= p.Settings.Instructions %><hr>
              <br><time><small>Available from <% var d = new Date(p.Settings.Available);%><%= d.toDateString() %></small></time>
              <% if(d < new Date() && p.Sections) if(p.Sections.length){  %>
              <br><a data-lab="<%=l.Name%>" data-part="<%=p.Name%>" class='button is-small is-info focus-lab'>Select</a>
              <% } %>
            </div>
          </div>
        </div>
      </div>
        <%if (pn%3==2){%></div><%}%>
        <%}%>
      </section>
  <% } %>
  </div>
</div>
  </body>
  </html>